{% extends 'base.html' %}
{% block content %}
<main class="p-5">

<div class="row">
	<div class="col">
	<h1 class="myhead2">Contact</h1>
		<hr>
	</div>
</div>
<div class="row">
	<div class="col-sm-6">
	<form>
	<input class="form-control" type="text" name="uname" placeholder="Name" /><br>
	<input class="form-control" type="email" name="email" placeholder="email" /><br>
	<input class="form-control" type="tel" name="phone_no" placeholder="Phone No" /><br>
	<textarea class="form-control"  placeholder="MSG"></textarea><br>
	<button class="btn btn-dark btn-block" type="submit">Submit</button>
	</form>
	</div>
	<div class="col-sm-6">
	<p>
	<strong><span class="fa fa-map-marker mx-2"></strong> Dhamangaon, Madhya Pradesh 460220 Dhamangaon, Madhya Pradesh<br><br>
	<strong><span class="fa fa-phone mx-2"></strong> 9993202xxxx<br><br>
	<strong><span class="fa fa-fax mx-2"></strong> 9993202xxxx<br><br>
	<strong><span class="fa fa-globe mx-2"></strong> http://blabla.com<br><br>
	</p>
	</div>
</div>
<div class="row my-5">
<div class="col-sm-8 offset-sm-2">
<div class="embed-responsive embed-responsive-16by9">
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29678.689999331422!2d77.73829542930507!3d21.59231403451741!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bd67aa81b6551ad%3A0x5f27f956131ddfcb!2sDhamangaon%2C%20Madhya%20Pradesh!5e0!3m2!1sen!2sin!4v1601959062261!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</div>
</div>
</div>

</main>
{% endblock %}
